# API Configuration - Use nginx proxy
VITE_APP_API_SERVER=apollo.raintech.it:3000
VITE_APP_AUTHENTICATION_API_SERVER=apollo.raintech.it:3000
VITE_APP_FILE_SERVER=apollo.raintech.it:3000
VITE_APP_STATIC_SERVER=apollo.raintech.it:3000

# SSL Configuration
VITE_APP_SSL=false 