@font-face {
  font-family: "Yekan Bakh";
  src: url("YekanBakhEN-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("YekanBakhEN-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}