.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.thumbs-slider .swiper-slide {
    opacity: 0.4;
    transition: opacity 0.3s ease;
}

.thumbs-slider .swiper-slide-thumb-active {
    opacity: 1;
}

.main-slider {
    --swiper-navigation-size: 24px;
}
